* {
    margin: 0%;
    padding: 0%;
}

#container {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
}

#main {

    display: flex;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    border-radius: 100%;
    background-color: yellow;
    align-items: center;
    justify-content: center;
}

#clikk {
    width: 100px;
    margin-top: 10px;
    text-align: center;
}

p {
    font-size: 20px;
    margin-top: 10px;
    background-color: rgb(180, 127, 212);
    padding: 3px;
    border-radius: 14px;
    margin-bottom: 30px;
}

button {
    all: unset;
    background: transparent;
    border: 2px solid #3dc507;
    border-radius: 6px;

}

button:hover {
    background-color: #3dc507;
}